<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>事件消息详情页</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}"/>
</head>
<body>

<table class="layui-table">
    <tbody>
    <tr>
        <td>openId</td>
        <td th:text="${receiveMessage.openId}">120522119</td>
        <td>消息类型</td>
        <td th:text="${receiveMessage.msgType}">文本</td>
    </tr>
    <tr>
        <td>发送时间</td>
        <td th:text="${#dates.format(receiveMessage.createTime,'yyyy-MM-dd HH:mm:ss')}">2018-04-29 23:12:00</td>
        <td>事件类型</td>
        <td th:text="${msgContentMap['Event']}">Hello rookie</td>
    </tr>
    <tr>
        <td>事件KEY</td>
        <td th:text="${msgContentMap['EventKey']}">Hello rookie</td>
        <td>二维码Ticket</td>
        <td th:text="${msgContentMap['Ticket']}">Hello rookie</td>
    </tr>
    <tr>
        <td>地理位置维度</td>
        <td th:text="${msgContentMap['Latitude']}">Hello rookie</td>
        <td>地理位置经度</td>
        <td th:text="${msgContentMap['Longitude']}">Hello rookie</td>
    </tr>
    <tr>
        <td>地理位置精度</td>
        <td th:text="${msgContentMap['Precision']}" colspan="3">Hello rookie</td>
    </tr>
    </tbody>
</table>

</body>
<script src="../../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>

</html>