<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>首页</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css"/>
</head>
<body style="margin: 5px">
<table id="wechatMessageTable" lay-filter="wechatMessageTableFilter"></table>

</div>
<script src="../../static/layui/layui.js"></script>
<script>
    layui.use('table', function () {
        var table = layui.table;

        table.render({
            elem: '#wechatMessageTable',
            url: './wechatMessage.json',
            page: true,
            cols: [[
                {field: 'msgId', title: '消息ID'},
                {field: 'msgType', title: '消息类型'},
                {field: 'openId', title: 'openId'},
                {field: 'createTime', title: '创建时间'}
            ]]
        });

    });
</script>
</body>
</html>