<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Hello Rookie.

<script type="text/javascript">
    var _maq = _maq || [];
    _maq.push(['_setAccount', 'wechat-spring-boot']);

    (function() {
        var ma = document.createElement('script'); ma.type = 'text/javascript'; ma.async = true;
        ma.src = ('https:' == document.location.protocol ? 'https://localhost' : 'http://localhost') + '/wechat-spring-boot/ma.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ma, s);
    })();
</script>

</body>
</html>